<div id="main">
    <!--<div id="logo">
        <img src="images/FCAIspeed.png"  />
    </div>-->
    <div id="login">
        <div id="logo">
            <img src="images/FCAIspeed.png"  />
        </div>
        <div class="login_container">
            <div>
                <h2>Login</h2>
            </div>
            <div class="row">
                <label>User Name</label>
                <input type="text" class="textBox" [(ngModel)]="userId" />
            </div>
            <div class="row">
                <label>Password</label>
                <input type="password" class="textBox" [(ngModel)]="password"/>
            </div>
            <div class="row">
                <input type="button" class="sbtBtn" value="Login" (click)="authenticate()"/>
            </div>
        </div>
    </div>
</div>
<div id="main">

</div>